.hero {
  width: 100%;
  font-family: "Exo", sans-serif;
  height: 100vh;
  background-color: transparent;
  position: relative;
}

.fondo {
  background-image: url("./images/blackmar.jpeg");
  z-index: -2;
  height: 150vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.profile-container {
  position: relative;
  overflow: overlay;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}
.profile-info {
  position: absolute;
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.profile-name {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: whitesmoke;
}
.minombre {
  color: #ffd700;
  line-height: 35px;
  font-size: 7vh;
}
.profile-efecto {
  position: relative;
  font-size: 3vh;
  line-height: 35px;
  top: -40px;
  color: whitesmoke;
}
.texto {
  text-align: center;

  color: whitesmoke;
  font-size: 2vh;
}
.desc {
  position: relative;
  font-size: 2vh;
  top: -70px;
  color: whitesmoke;
  word-break: break-word;
  text-align: justify;
}

.img2 {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding-top: 200px;
  opacity: 0.4;
}
img {
  width: 250px;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Css del boton resume */

.categoryWrapper {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 30%;
  top: -70px;
  text-decoration: none;
}

.categoryWrapper:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.9s ease 0s;
}

.categoryWrapper:hover:after {
  opacity: 0.4;
}

.categoryWrapper h1 {
  color: #ffd700;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-transition: all 0.15s ease 0s;
  position: relative;
  z-index: 10;
}

.categoryWrapper:hover h1 {
  transform: translateY(-10px);
}

.categoryWrapper a {
  position: absolute;
  transform: translatey(60px);
  -webkit-appearance: none;
  border: none;
  background: none;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 10;
  text-decoration: none;
}

.categoryWrapper a span {
  display: block;
  position: relative;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
}

.categoryWrapper a > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 0;

  border: 1px solid white;
  border-left: none;
  border-bottom: none;

  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover a > span:after {
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper a > span:before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 20px;
  height: 0;

  border: 1px solid white;
  border-right: none;
  border-bottom: none;

  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover a > span:before {
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper a > span > span:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.categoryWrapper:hover a > span > span:before {
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper a > span > span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.categoryWrapper:hover a > span > span:after {
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper a > span > span > span {
  transition: color 0.15s ease-out 0.3s;
  color: transparent;
  text-align: center;
}

.categoryWrapper:hover a > span > span > span {
  color: whitesmoke;
  text-align: center;
}

.categoryWrapper a > span > span > span:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #1f2e4d;
  content: attr(data-attr-span);
  width: 0%;
  height: 100%;
  background: white;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.2s;
}

.categoryWrapper a:hover > span > span > span:after {
  width: 100%;
}

/*  */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
    max-width: 768px !important;
  }

  .fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -9;
  }

  .hero {
    height: 120vh;
    max-width: 768px !important;
    overflow-x: hidden !important;
  }
  .profile-container {
    height: 120vh;
    max-width: 768px !important;
    overflow-x: hidden !important;
  }
  .profile-info {
    position: absolute;
    justify-content: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden !important;
    padding-left: 20%;
    padding-right: 20%;
  }

  .profile-name {
    color: whitesmoke;
    position: relative;
  }
  .minombre {
    color: rgba(0, 0, 0, 0.808);
    line-height: 71px;
    font-size: 6vh;
    background-color: rgb(255, 255, 255, 0.2);
  }
  .profile-efecto {
    position: relative;
    font-size: 2vh;
    height: 15vh;
    color: whitesmoke;
  }
  .texto {
    text-align: center;
    color: whitesmoke;
    font-size: 2vh;

    top: 10px;
    position: absolute;
  }
  .desc {
    position: relative;
    font-size: 2vh;
    top: -50px;

    color: whitesmoke;
    word-break: break-word;
    text-align: justify;
  }

  .categoryWrapper {
    display: none;
  }
}
