.container-skills {
  height: 190vh;
  background-color: rgb(0, 0, 0);
}

.fondox {
  background-image: url("./am.jpg");
  /* Full height */
  height: 45vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fondox-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
}

.fondox2 {
  background-image: url("./1031930086.jpg");
  z-index: 2;
  /* Full height */
  height: 45vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
.aaas {
  color: white;
  font-family: "Exo", sans-serif;
  position: absolute;
  line-height: 35px;
  font-size: 5vh;
  margin-bottom: 20px;
  padding-top: 20px;
}

.container-about {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 3;
  position: relative;
}

.barra1 {
  height: 3px;
  background-color: #ffd700;
  position: absolute;
  width: 35%;
  margin-right: 50%;
}

.barra2 {
  height: 3px;
  background-color: #ffd700;
  position: absolute;
  width: 35%;
  margin-left: 50%;
}

.xd {
  background-color: aqua;
}

.blanco {
  background-color: whitesmoke;
  height: 92vh;
  width: 60%;
  margin-left: 22%;
  position: absolute;
}

img.resize {
  background-color: #ffd700;
  position: absolute;
  margin-right: 60%;
  margin-left: 20%;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: -23px 23px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -23px 23px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: -23px 23px 0px 0px rgba(255, 255, 255, 1);
}
