.container-skills {
    height: 180vh;
    background-color: rgb(0, 0, 0);
}

.fondox {
    background-image: url("./los-10-sonidos-principales-del-perro.jpg");
    z-index: 2;
    /* Full height */
    height: 50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fondox2 {
    background-image: url("./descarga.png");
    z-index: 2;
    /* Full height */
    height: 50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }


.aaas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


  .cosas{
  
    background-color: transparent;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 3;
}