.card-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.card {
  width: 500px;
  min-height: 400px;
  background: green;
  position: relative;
  border-radius: 4vh;
  box-shadow: rgba(100, 100, 111, 0.2);
  padding: 20px;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden !important;
  }
  .card {
    margin-left: 5%;
    margin-right: 5%;
  }
}
