

.hola{
 display: none;
 
}

.active {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s;
  display: flex;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 40;
  box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.75);
  opacity: 0.9;
  

}

.active_and_top {
  height: 70px;
  width: 100%;
  position: fixed;
  transition: 0.1s linear;
  top: 0;
  display: flex;
  background-color: transparent;
  z-index: 999;
  
  
}

.hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  display: flex;


  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: -80px;
  transition: 0.3s;
  background-color: transparent;
}

#a {
  float: right;
  display: block;
  color: white;
  text-align: right;
  padding: 22px;
  text-decoration: none;
  align-items: center;  
  
}

#a:hover {
  background-color: #ddd;
  color: black;
}

.navbuttons{
display: flex;
justify-content: right;
height: 70px;
width: 100%;

padding-right: 7vh;


}

.logo {
  display: flex;
  height: 57px;
  width: 60px;
  padding-left: 8vh;
  position: absolute;
}


.item {
  overflow: visible;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  padding-top: 22px;



  
  
}



@media screen and (max-width: 768px) {
  
  .hola{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    height: 57px;
    width: 100%;
  }
  .navbuttons{
    display:none;
  }
}