.hola {
  display: none;
}

.active {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s;
  display: flex;
  background-color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 40;
  box-shadow: 0px 3px 8px -1px rgba(255, 255, 255, 0.75);
  opacity: 0.9;
}

.active_and_top {
  height: 70px;
  width: 100%;
  position: fixed;
  transition: 0.3s linear;
  top: 0;
  display: flex;
  background-color: transparent;
  z-index: 999;
}

.hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  display: flex;
  box-shadow: 0 2px 5px -1px rgba(182, 15, 15, 0.08);
  position: fixed;
  top: -80px;
  transition: 0.3s;
  background-color: transparent;
}

#a {
  float: right;
  display: block;
  color: white;
  text-align: right;
  padding: 22px;
  text-decoration: none;
  align-items: center;
}

#a:hover {
  background-color: #ffd700;
  color: black;
}

.navbuttons {
  display: flex;
  justify-content: right;
  height: 70px;
  width: 100%;

  padding-right: 7vh;
}

.logo {
  display: flex;
  height: 57px;
  width: 60px;
  padding-left: 8vh;
  position: absolute;
}

.item {
  overflow: visible;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  padding-top: 22px;
}

@media screen and (max-width: 768px) {
  .hola {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 57px;
    width: 100%;
    padding-right: 5vh;
    max-width: 100% !important;
    overflow: hidden !important;
    z-index: 1;
  }
  .navbuttons {
    display: none;
  }
  .active_abierta {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: 0.4s linear;
    top: 0;
    display: flex;
    background-color: black;
    z-index: 1;
    max-width: 100% !important;
    overflow-x: hidden !important;
    overflow: hidden;
  }
  .navbuttons_mov {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}
