.active {
  height: 57px;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s;
  display: flex;
  justify-content: right;
  align-items: right;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 40;
  box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.75);
  opacity: 0.9;
  padding-right: 4cm;
}

.active_and_top {
  height: 57px;
  width: 100%;
  position: fixed;
  transition: 0.1s linear;
  top: 0;
  display: flex;
  justify-content: right;
  align-items: right;
  background-color: transparent;
  z-index: 999;
  padding-right: 4cm;
}

.hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  display: flex;
  justify-content: right;
  align-items: right;
  padding-right: 4cm;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: -80px;
  transition: 0.3s;
  background-color: transparent;
}

#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: right;
  padding: 20px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
