
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');




@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}


.profile-container{
    justify-content: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    overflow: ;
    
}
.profile-parent {
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    
}

.profile-name{
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
}
.minombre{
    margin-top: -900px;
    color: #7d2585;
    line-height : 20px;
    width: 100px;
    height: 100px;
}
.profile-efecto{
    padding: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.texto {
    text-align: center;
    margin: 0 0 30px 4px;
    color: #ddc8e9;
    font-size: 18px;
}
