.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 130px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: transparent;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-left: 15px;
}

.sidenav2 {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 130px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 20px;
  background-color: transparent;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-right: 15px;
}

hr {
  margin-top: 20px;
  height: 10vh;
  width: 4px;
  border-width: 0;
  color: #000;
  background-color: #ffd700;
  border-radius: 70px;
}

.email-container {
  transform: rotate(90deg);
  margin-bottom: 60%;
}

#aa {
  color: white;
  text-decoration: none;
  font-size: 1.6vh;
}

.su:hover {
  zoom: 1.4;
  transform: scale(2);
  transition: all 2s;
}
.su2:hover {
  zoom: 1.1;
  transform: scale(2);
  transition: all 2s;
}

@media screen and (max-width: 768px) {
  .sidenav {
    display: none;
  }

  .sidenav2 {
    display: none;
  }
}
