:root {
  background-color: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
}
.app {
  width: 100%;
  font-family: "Exo", sans-serif;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(187, 177, 177, 0.7);
}
