.container-about1 {
  height: 190vh;
}

.fondox {
  background-image: url("./nar.jpg");
  /* Full height */
  height: 45vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fondox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
}

.fondox2 {
  background-image: url("./neon.jpg");
  z-index: 2;
  /* Full height */
  height: 45vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
.aaas {
  color: white;
  font-family: "Exo", sans-serif;
  position: absolute;
  line-height: 35px;
  font-size: 5vh;
  margin-bottom: 20px;
  padding-top: 20px;
}

.container-about {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.75);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-box-shadow: 0px 17px 26px 12px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0px 17px 26px 12px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 17px 26px 12px rgba(0, 0, 0, 0.89);
}

.barra1 {
  height: 3px;
  background-color: #ffd700;
  position: absolute;
  width: 35vw;
  margin-right: 50%;
}

.barra2 {
  height: 3px;
  background-color: #ffd700;
  position: absolute;
  width: 35%;
  margin-left: 50%;
}

.resize {
  background-color: #ffd700;
  position: absolute;
  margin-right: 60%;
  margin-left: 20%;
  height: 400px;
  width: 400px;
  -webkit-box-shadow: -23px 23px 0px 0px #ffd700;
  -moz-box-shadow: -23px 23px 0px 0px #ffd700;
  box-shadow: -23px 23px 0px 0px #ffd700;
}

.resize:hover {
  -webkit-box-shadow: -23px 23px 0px 0px white;
  -moz-box-shadow: -23px 23px 0px 0px white;
  box-shadow: -23px 23px 0px 0px white;
}

.texto-about {
  position: absolute;
  color: white;
  --b: 5px; /* thickness of the border */
  --c: #ffd700; /* color of the border */
  --w: 40px; /* width of border */

  border: var(--b) solid transparent; /* space for the border */
  --g: #0000 90deg, var(--c) 0;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--g))
      0 0,
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--g)) 100%
      100%;
  background-size: var(--w) var(--w);
  background-origin: border-box;
  background-repeat: no-repeat;
  height: 30vh;
  width: 70vh;
  margin-right: 30%;
  margin-left: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 20px;
}

.texto-about:hover {
  color: #ffd700;
  --b: 5px; /* thickness of the border */
  --c: white; /* color of the border */
  --w: 40px; /* width of border */

  border: var(--b) solid transparent; /* space for the border */
  --g: #0000 90deg, var(--c) 0;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--g))
      0 0,
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--g)) 100%
      100%;
  background-size: var(--w) var(--w);
  background-origin: border-box;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .container-about1 {
    overflow-x: hidden !important;
    max-width: 100% !important;
    height: auto;
    min-width: 100% !important;
  }
  .container-about {
    justify-content: center;
    position: relative;
    display: flex;
    height: 150vh;
    flex-direction: column;
    overflow-x: hidden !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .fondox-container {
    overflow-x: hidden !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .barra1 {
    display: none;
  }

  .barra2 {
    display: none;
  }
  .texto-about {
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    word-break: break-word;
    text-align: justify;
    top: 500px;
    height: auto;
    font-size: 2vh;
  }
  .resize {
    top: 40px;
    margin: 10%;
    width: 70%;
    height: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .container-about1 {
    overflow-x: hidden !important;
    max-width: 768px !important;
    height: auto;
  }
  .container-about {
    justify-content: center;
    position: relative;
    display: flex;
    height: 70vh;
    flex-direction: column;
    overflow-x: hidden !important;
    max-width: 768px !important;
  }
  .fondox-container {
    overflow-x: hidden !important;
    max-width: 768px !important;
  }

  .barra1 {
    display: none;
  }

  .barra2 {
    display: none;
  }
  .texto-about {
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    word-break: break-all;
    top: 500px;
    height: auto;
    font-size: 2vh;
    margin-top: 10%;
  }
  .resize {
    top: 40px;
    margin: 10%;
    width: 70%;
    height: 300px;
  }
}
